---
import Text from './text.astro';

export interface Props {
	text: string;
	link: string;
}

const { text, link } = Astro.props;
---

<!--
<a
	class="button-base text-tag col-span-full flex flex-row items-center rounded-md
		bg-white/[.05] p-4 text-white/80 select-none hover:bg-white/10 hover:text-white
		md:col-span-2 first-of-type:md:col-start-3"
	href={link}>
	{text}
	<svg
		xmlns="http://www.w3.org/2000/svg"
		fill="none"
		viewBox="0 0 24 24"
		class="ml-auto h-3 w-3 stroke-white/30 stroke-[3px] group-hover:stroke-white">
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			d="M8.25 4.5l7.5 7.5-7.5 7.5"></path></svg
	>
</a>
-->
<a
	class="bg-secondary-1000 text-primary-0 flex h-12 grow items-center justify-center
		rounded-md px-6 font-bold uppercase hover:opacity-90"
	href={link}>
	{text}
</a>
