---
export interface Props {
	date1: string;
	date2?: string;
}

const { date1, date2 } = Astro.props;
---

<footer class="flex min-h-6 flex-row items-center">
	<p
		class="text-tag mr-2 inline-block shrink-0 py-0.5 md:mr-0 md:w-2/6 md:pr-8">
		{date1} to {date2 ?? 'Present'}
	</p>
</footer>
