---
import type { HTMLAttributes } from 'astro/types';
import Text from '../text/text.astro';

export interface Props extends HTMLAttributes<'li'> {
	details: { title: string; description: string };
	identifier: string;
	defaultOpen?: boolean;
}

const { details, identifier, defaultOpen, ...attrs } = Astro.props;

console.log(defaultOpen);
---

<li
	class="border-fade-primary-black border-fade-secondary-white bg-fade-secondary-white
		line-clamp-3 overflow-hidden rounded-md border p-1.5 px-2.5 pb-0.5 text-xs
		text-ellipsis"
	{...attrs}>
	<Text type="subheading" class="text-xs font-medium">
		{details.title}
	</Text>
	<Text
		type="paragraph"
		class={'text-secondary-800! mb-0! block inline-block overflow-hidden text-xs!'}>
		{details.description}
	</Text>
</li>
