---
import Text from './text.astro';
---

<div
	class="bg-fade-secondary-white rounded px-2 py-1 text-sm whitespace-nowrap shadow-lg">
	<Text type="tag" class="text-secondary-800 uppercase">
		<slot />
	</Text>
</div>
