---
import type { CollectionEntry } from 'astro:content';
import DateTimeBlock from '@components/text/DateTimeBlock.astro';
import TextInlineList from '@components/text/TextInlineList.astro';
interface Props {
	project: CollectionEntry<'project'>;
	class?: string;
}

const { project, optionalClass } = {
	project: Astro.props.project,
	optionalClass: Astro.props.class ?? ''
};
---

<TextInlineList contents={project.data.tags} class=`mt-4 ${optionalClass}`>
	<li><span class="text-tag"><DateTimeBlock start={project.data.dateStart} end={project.data.dateEnd} /></span></li>
</TextInlineList>
