---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
	project: Project;
	link?: string;
}

const { project, link } = {
	project: Astro.props.project,
	link: Astro.props.link ?? Astro.props.project.getProjectLink()
};
---

<a
	class={'flex flex-row gap-2 button-opacity text-sm md:text-base ' + (Astro.props.class ?? '')}
	href={link}
	target={project.isExternal() ? '_blank' : '_self'}
	rel="noreferrer">
	<slot />
	{project.isExternal() && <Icon name="arrow-top-right" />}
</a>
