---
import type { CollectionEntry } from 'astro:content';
import Text from '../text/Text.astro';
import { Icon } from 'astro-icon/components';
import IconButton from '@components/core/image/IconButton.astro';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'ul'> {
	project: CollectionEntry<'project'>;
}

const { project, ...props } = {
	project: Astro.props.project,
	...Astro.props
};

const contributions = project.data.projectInfo.contributions;
---

<ul class=`flex list-inside list-disc flex-col text-ellipsis lg:list-outside ${Astro.props.class ?? ''}` {...props}>
	{
		contributions.map((contribution) => (
			<li>
				<span class="text-paragraph-sm">{contribution}</span>
			</li>
		))
	}
</ul>
