---
import type { CollectionEntry } from 'astro:content';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'ul'> {
	project: CollectionEntry<'project'>;
}

const { project, ...props } = { ...Astro.props };

const contributions = project.data.projectInfo.contributions;
---

<ul class=`flex list-inside list-disc flex-col text-ellipsis lg:list-outside ${Astro.props.class ?? ''}` {...props}>
	{
		contributions.map((contribution) => (
			<li>
				<span class="text-paragraph-sm">{contribution}</span>
			</li>
		))
	}
</ul>
