{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"endOfLine": "lf",
	"semi": true,
	"printWidth": 80,
	"bracketSameLine": true,
	"singleAttributePerLine": true,
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-classnames",
		"prettier-plugin-merge"
	],
	"pluginSearchDirs": false,
	"proseWrap": "always",
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro",
				"printWidth": 80,
				"singleAttributePerLine": true,
				"singleQuote": true,
				"proseWrap": "always"
			}
		}
	]
}
