---
import Text from './Text.astro';

export interface Props {
	heading: string;
	type?: `heading` | `paragraph` | `custom`;
	class?: string;
}

const { heading, type, optionalClass } = {
	heading: Astro.props.heading,
	type: Astro.props.type ?? 'heading',
	optionalClass: Astro.props.class ?? ''
};

const html = await Astro.slots.render('default');
const hasContent = html.length > 0;

---
{hasContent &&
	<div class=`break-inside-avoid flex flex-col mt-4 ${optionalClass}`>
		<Text type="tag" class="!mt-0">
			{heading}
		</Text>
		{
			type === 'heading' && (
				<Text type="tag-heading" class="mt-1">
					<slot />
				</Text>
			)
		}
		{type === 'paragraph' &&
			<Text type="paragraph" class="mt-1">
				<slot />
			</Text>
		}
		{type === 'custom' &&
			<Fragment set:html={html} />
		}
	</div>
}