---
import type { HTMLAttributes } from 'astro/types';
export interface Props extends HTMLAttributes<'p'> {
	type: `heading` | `subheading` | 'tag' | 'tag-heading' | `paragraph` | `mono` | 'mono-light' | 'label' | 'sublabel';
}

const { type, ...attrs } = Astro.props;
---

{
	type === `heading` && (
		<h2
			class={'text-secondary-1000 mb-1 text-3xl font-black uppercase drop-shadow-sm xl:text-4xl'}
			class:list={attrs.class ?? undefined}
			{...attrs}>
			<slot />
		</h2>
	)
}

{
	type === `subheading` && (
		<h3 class="text-secondary-1000 text-sm font-bold" class:list={attrs.class ?? undefined} {...attrs}>
			<slot />
		</h3>
	)
}

{
	type === `paragraph` && (
		<p class={attrs.class ?? undefined} {...attrs}>
			<slot />
		</p>
	)
}

{
	type === `mono` && (
		<p class="text-tag drop-shadow" class:list={attrs.class ?? undefined} {...attrs}>
			<slot />
		</p>
	)
}

{
	type === `mono-light` && (
		<p class="text-tag text-secondary-800" class:list={attrs.class ?? undefined} {...attrs}>
			<slot />
		</p>
	)
}

{
	type === `label` && (
		<p class={'text-secondary-900 inline-block text-sm/4 ' + (attrs.class ?? '')} {...attrs}>
			<slot />
		</p>
	)
}

{
	type === `sublabel` && (
		<p class={'text-secondary-700 inline-block text-sm/4 ' + (attrs.class ?? '')} {...attrs}>
			<slot />
		</p>
	)
}

{
	type === `tag` && (
		<p class={'text-tag ' + (attrs.class ?? '')} {...attrs}>
			<slot />
		</p>
	)
}

{
	type === `tag-heading` && (
		<p class={'text-tag-heading ' + (attrs.class ?? '')} {...attrs}>
			<slot />
		</p>
	)
}
