---
import { marked } from 'marked';

export interface Props {
	heading: string;
	description: string;
}

const { heading, description } = Astro.props;
---

<div>
	<h4 class="text-tag">{heading}</h4>
	<p set:html={marked.parse(description)} /><sup class="text-sm">»</sup>
</div>
