---
import DateTimeBlock from '@components/text/dateTimeBlock.astro';
import type { CollectionEntry } from 'astro:content';
interface Props {
	contents?: string[];
	class?: string;
	customTag?: string;
}

const { contents, optionalClass, targetTag } = {
	contents: Astro.props.contents ?? [],
	optionalClass: Astro.props.class ?? '',
	targetTag: Astro.props.customTag ?? 'text-tag'
};
---

<ul class=`inline-list ${optionalClass}` role="list">
	<slot />
	{
		contents.map((content) => (
			<!-- prettier-ignore -->
			<li><span class={targetTag}>{content}</span></li>
		))
	}
	<slot name="after" />
</ul>
