---

---

<article class="inline-flex w-full max-w-full flex-col break-words">
	<slot />
	<div class="lg:flex lg:flex-row">
		<div
			class="prose prose-calcustom sm:prose-lg xl:prose-xl 2xl:prose-2xl max-w-screen-md
				lg:min-w-96 lg:grow lg:pr-8">
			<slot name="left" />
		</div>
		<div
			class="prose prose-calcustom prose-sm md:prose-base flex-col lg:shrink">
			<slot name="right" />
		</div>
	</div>
</article>
