@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /*noinspection CssUnknownTarget*/
    @font-face {
        font-family: 'basement-grotesque';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(/fonts/BasementGrotesque-Black_v1.202.woff2) format('woff2');
    }

    /*noinspection CssUnknownTarget*/
    @font-face {
        font-family: SB;
        src: url(/fonts/SB/MSBee-Black.eot);
        src: url(/fonts/SB/MSBee-Black.eot?#iefix) format("embedded-opentype"),
        url(/fonts/SB/MSBee-Black.woff2) format("woff2"),
        url(/fonts/SB/MSBee-Black.woff) format("woff"),
        url(/fonts/SB/MSBee-Black.ttf) format("truetype"),
        url(/fonts/SB/MSBee-Black.svg#StyreneB-Black) format("svg");
        font-weight: 900;
        font-style: normal;
        font-display: block
    }

    /*noinspection CssUnknownTarget*/
    @font-face {
        font-family: SB;
        src: url(/fonts/SB/MSBee-Regular.eot);
        src: url(/fonts/SB/MSBee-Regular.eot?#iefix) format("embedded-opentype"),
        url(/fonts/SB/MSBee-Regular.woff2) format("woff2"),
        url(/fonts/SB/MSBee-Regular.woff) format("woff"),
        url(/fonts/SB/MSBee-Regular.ttf) format("truetype"),
        url(/fonts/SB/MSBee-Regular.svg#StyreneB-Regular) format("svg");
        font-weight: 400;
        font-style: normal;
        font-display: block
    }

    /*noinspection CssUnknownTarget*/
    @font-face {
        font-family: SB;
        src: url(/fonts/SB/MSBee-Medium.eot);
        src: url(/fonts/SB/MSBee-Medium.eot?#iefix) format("embedded-opentype"),
        url(/fonts/SB/MSBee-Medium.woff2) format("woff2"),
        url(/fonts/SB/MSBee-Medium.woff) format("woff"),
        url(/fonts/SB/MSBee-Medium.ttf) format("truetype"),
        url(/fonts/SB/MSBee-Medium.svg#StyreneB-Regular) format("svg");
        font-weight: 500;
        font-style: normal;
        font-display: block
    }

    @font-face {
        font-family:"paradroid-mono-soft";
        src:url("https://use.typekit.net/af/74f145/00000000000000007736bee4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/74f145/00000000000000007736bee4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/74f145/00000000000000007736bee4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
    }

    @font-face {
        font-family:"paradroid-mono-soft";
        src:url("https://use.typekit.net/af/bee6fa/00000000000000007736beea/30/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/bee6fa/00000000000000007736beea/30/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/bee6fa/00000000000000007736beea/30/a?subset_id=2&fvd=n7&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/inter/v18/UcCo3FwrK3iLTcviYwY.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family:"cartograph-cf";
        src:url("https://use.typekit.net/af/eb5f94/00000000000000007735fa51/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/eb5f94/00000000000000007735fa51/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/eb5f94/00000000000000007735fa51/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
    }



    @supports (font-variation-settings: normal) {
        /*noinspection CssUnknownTarget*/
        @font-face {
            font-family: "mozaic-variable";
            font-display: auto;
            font-style: normal;
            font-weight: 100 900;
            font-stretch: normal;
            src: url(/fonts/mozaic-geo.woff2) format("woff2"),
            url(/fonts/mozaic-geo.woff2) format("woff"),
            url(/fonts/mozaic-geo.otf) format("opentype");
        }

        /*noinspection CssUnknownTarget*/
        @font-face {
            font-family: "mozaic-variable";
            font-display: auto;
            font-style: italic;
            font-weight: 100 900;
            font-stretch: normal;
            src: url(/fonts/mozaic-geo-itallic.woff2) format("woff2"),
            url(/fonts/mozaic-geo-itallic.woff) format("woff"),
            url(/fonts/mozaic-geo-itallic.otf) format("opentype");
        }
    }

    .font-display-black {
        font-family: 'basement-grotesque', sans-serif;
    }

    :root,
    html[data-theme="dark"] {
        --colour-primary-0: 0deg 0% 0%;
        --colour-primary-100: 0deg 0% 7%;
        --colour-primary-200: 0deg 0% 12%;
        --colour-primary-300: 0deg 0% 17%;

        --colour-secondary-1000: 0deg 0% 100%;
        --colour-secondary-900: 60deg 10% 92%;
        --colour-secondary-800: 60deg 5% 80%;
        --colour-secondary-700: 60deg 1% 44%;

        --colour-accent: 10deg 50% 50%;

        @apply antialiased font-sb bg-primary-100 text-secondary-900;
        color-scheme: dark;
    }
    html[data-theme="light"] {
        --colour-primary-0: 0deg 0% 100%;
        --colour-primary-100: 60deg 10% 90%;
        --colour-primary-200: 60deg 5% 80%;
        --colour-primary-300: 60deg 1% 44%;

        --colour-secondary-1000: 0deg 0% 0%;
        --colour-secondary-900: 0deg 0% 7%;
        --colour-secondary-800: 0deg 0% 12%;
        --colour-secondary-700: 0deg 0% 17%;

        --colour-accent: 10deg 50% 50%;

        @apply antialiased font-sb bg-primary-100;
        color-scheme: light;
    }


    p {
      @apply text-sm text-secondary-900;
    }

/*    h1 {
        @apply text-6xl font-black;
    }

    h2 {
        @apply text-5xl font-black;
    }

    h3 {
        @apply text-4xl font-black;
    }

    h4 {
        @apply text-3xl font-black;
    }

    h5 {
        @apply text-2xl font-extrabold;
    }

    h6 {
        @apply text-xl font-extrabold;
    }

    p {
        @apply text-base font-medium;
    }*/
}


@layer utilities {
    .word-widest {
        word-spacing: 0.15em;
    }

    .word-wider {
        word-spacing: 0.1em;
    }

    .word-wide {
        word-spacing: 0.05em;
    }

    .black-radial-gradient {
        background: radial-gradient(closest-side, transparent 0%, black 100%);
    }

    .button-base {
        @apply inline-block px-4 py-2 text-secondary-800 bg-primary-200 rounded-md hover:bg-primary-300 hover:text-secondary-900 focus:text-secondary-900;
    }

    .button-base-target {
        @apply text-secondary-1000;
    }

    .text-tag {
        @apply text-xs uppercase font-carto text-secondary-700;
    }
}