@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /*noinspection CssUnknownTarget*/
    @font-face {
        font-family: 'basement-grotesque';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(/fonts/BasementGrotesque-Black_v1.202.woff2) format('woff2');
    }

    @supports (font-variation-settings: normal) {
        /*noinspection CssUnknownTarget*/
        @font-face {
            font-family: "mozaic-variable";
            font-display: auto;
            font-style: normal;
            font-weight: 100 900;
            font-stretch: normal;
            src: url(/fonts/mozaic-geo.woff2) format("woff2"),
            url(/fonts/mozaic-geo.woff2) format("woff"),
            url(/fonts/mozaic-geo.otf) format("opentype");
        }

        /*noinspection CssUnknownTarget*/
        @font-face {
            font-family: "mozaic-variable";
            font-display: auto;
            font-style: italic;
            font-weight: 100 900;
            font-stretch: normal;
            src: url(/fonts/mozaic-geo-itallic.woff2) format("woff2"),
            url(/fonts/mozaic-geo-itallic.woff) format("woff"),
            url(/fonts/mozaic-geo-itallic.otf) format("opentype");
        }
    }

    .font-display-black {
        font-family: 'basement-grotesque', sans-serif;
    }

    :root,
    html[data-theme="dark"] {
        --colour-primary-0: 0deg 0% 0%;
        --colour-primary-100: 0deg 0% 5%;
        --colour-primary-200: 0deg 0% 12%;
        --colour-primary-300: 0deg 0% 17%;

        --colour-secondary-1000: 0deg 0% 100%;
        --colour-secondary-900: 60deg 10% 90%;
        --colour-secondary-800: 60deg 5% 80%;
        --colour-secondary-700: 60deg 1% 44%;

        --colour-accent: 10deg 50% 50%;

        @apply antialiased font-mozaic bg-primary-100;
        color-scheme: dark;
    }
    html[data-theme="light"] {
        --colour-primary-0: 0deg 0% 100%;
        --colour-primary-100: 60deg 10% 90%;
        --colour-primary-200: 60deg 5% 80%;
        --colour-primary-300: 60deg 1% 44%;

        --colour-secondary-1000: 0deg 0% 0%;
        --colour-secondary-900: 0deg 0% 7%;
        --colour-secondary-800: 0deg 0% 12%;
        --colour-secondary-700: 0deg 0% 17%;

        --colour-accent: 10deg 50% 50%;

        @apply antialiased font-mozaic bg-primary-100;
        color-scheme: light;
    }

/*    h1 {
        @apply text-6xl font-black;
    }

    h2 {
        @apply text-5xl font-black;
    }

    h3 {
        @apply text-4xl font-black;
    }

    h4 {
        @apply text-3xl font-black;
    }

    h5 {
        @apply text-2xl font-extrabold;
    }

    h6 {
        @apply text-xl font-extrabold;
    }

    p {
        @apply text-base font-medium;
    }*/
}


@layer utilities {
    .word-widest {
        word-spacing: 0.15em;
    }

    .word-wider {
        word-spacing: 0.1em;
    }

    .word-wide {
        word-spacing: 0.05em;
    }

    .black-radial-gradient {
        background: radial-gradient(closest-side, transparent 0%, black 100%);
    }

    .button-base {
        @apply inline-block px-4 py-2 text-secondary-800 bg-primary-200 rounded-md hover:bg-primary-300 hover:text-secondary-900 focus:text-secondary-900;
    }

    .button-base-target {
        @apply text-secondary-1000;
    }
}