@import 'tailwindcss';
@import './chivo.css';
@import './rem.css';
@import './sb.css';

@theme {
    --font-basement: basement-grotesque, sans-serif;
    --font-mozaic: mozaic-variable, sans-serif;
    --font-sb: SB, sans-serif;
    --font-mono: paradroid-mono-soft, monospace;
    --font-inter: Inter, sans-serif;
    --font-carto: cartograph-cf, monospace;
    --font-chivo: Chivo-Mono, monospace;
    --font-rem: Rem, sans-serif;

    --color-primary-0: hsl(var(--colour-primary-0));
    --color-primary-50: hsl(var(--colour-primary-50));
    --color-primary-100: hsl(var(--colour-primary-100));
    --color-primary-200: hsl(var(--colour-primary-200));
    --color-primary-300: hsl(var(--colour-primary-300));

    --color-secondary-700: hsl(var(--colour-secondary-700));
    --color-secondary-800: hsl(var(--colour-secondary-800));
    --color-secondary-900: hsl(var(--colour-secondary-900));
    --color-secondary-1000: hsl(var(--colour-secondary-1000));

    --color-fade-primary-white: hsla(var(--colour-fade-primary-white));
    --color-fade-secondary-white: hsla(var(--colour-fade-secondary-white));

    --color-fade-primary-black: hsla(var(--colour-fade-primary-black));
    --color-fade-secondary-black: hsla(var(--colour-fade-secondary-black));

    --color-accent: hsl(var(--colour-accent));
    --color-accent-alt: hsl(var(--colour-accent-alt));
    --color-dark-accent: hsl(0deg 0% 4%);

    --container-1\/2: 50%;
    --container-1\/3: 33.333333%;
    --container-1\/4: 25%;
    --container-1\/5: 20%;
    --container-1\/6: 16.666667%;
    --container-2\/3: 66.666667%;
    --container-3\/4: 75%;
    --container-4\/5: 80%;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility word-widest {
  word-spacing: 0.15em;
}

@utility word-wider {
  word-spacing: 0.1em;
}

@utility word-wide {
  word-spacing: 0.05em;
}

@utility black-radial-gradient {
  background: radial-gradient(closest-side, transparent 0%, black 100%);
}

@utility button-base {
  @apply px-4 py-2 text-secondary-800 bg-primary-200 rounded-md hover:bg-primary-300 hover:text-secondary-900 focus:text-secondary-900;
}

@utility button-base-target {
  @apply text-secondary-1000;
}

@utility text-tag {
  @apply text-xs font-chivo text-secondary-700;
}

@utility text-bsm {
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

@utility button-opacity {
    @apply opacity-80 group-hover/project:opacity-85 hover:opacity-100 transition-opacity duration-200 ease-in-out ;
}

@utility content-outer {
    @apply grow flex-col flex lg:flex-row content-outer-x content-outer-y;
}

@utility content-outer-x {
    @apply px-5 lg:px-10;
}

@utility content-outer-y {
    @apply py-6 lg:py-10 lg:pt-9;
}

@utility content-inner-l {
    @apply flex flex-col grow-0 shrink-0 rounded-lg lg:w-[63%] lg:rounded-2xl lg:pr-4;
}

@utility content-inner-r {
    @apply flex shrink grow gap-4;
}

@utility content-inner-padding {
    @apply gap-4 lg:px-2;
}

@utility text-subheading {
    @apply text-secondary-1000 text-sm font-bold;
}

@utility text-paragraph {
    @apply text-secondary-900/90 mt-4 max-w-[70ch] text-sm/6 md:text-base/7.5 font-light;
}

@utility text-paragraph-sm {
    @apply text-secondary-900/90 mt-4 max-w-[70ch] text-sm/6 md:text-base/6 font-light;
}

@utility project-content {
    @apply flex flex-col project-gap;
}

@utility text-label {
    @apply text-secondary-900 inline-block text-sm/4;
}

@utility text-sublabel {
    @apply text-secondary-700 inline-block text-sm/4;
}

@utility text-tag {
    @apply text-secondary-900/60! font-chivo! text-xs! font-thin! drop-shadow! mb-0 text-shadow-lg/40;
}

@utility text-tag-heading {
    @apply text-secondary-900/90 text-xs/5 font-medium md:text-sm text-shadow-lg;
}

@utility project-gap {
    @apply gap-4 md:gap-8;
}

.card-spacing {
    @apply px-5 py-4 gap-6;
}

.image-background {
    box-shadow: 0 0 180px 80px var(--color-dark-accent) inset;
}

ul.inline-list {
    display: inline-block;
}
ul.inline-list>li {
    display: inline;
}
ul.inline-list>li>span {
    white-space: nowrap;
}
ul.inline-list>li:after {
    content: " ";
    letter-spacing: 1em;
    background: center center no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xMkMEa+wAAAAnSURBVBhXY/Dz89MA4sNA/B9Ka4AEYQIwfBgkiCwAxjhVopnppwEApxQqhnyQ+VkAAAAASUVORK5CYII=);
    background-position-y: .55em;
}

.lg-components{
    @apply pointer-events-none;
}

.lg-sub-html {
    @apply text-paragraph! justify-items-center font-sb! max-w-full! w-full!;
}

.lg-sub-html h4 {
    @apply text-secondary-900/90! text-lg! font-medium! max-w-[70ch]!;
}

.lg-sub-html p {
    @apply text-paragraph-sm! max-w-[80ch]! pointer-events-auto;
}

.lg-outer .lg-thumb-item:hover {
    @apply border-secondary-1000/80!;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item {
    @apply border-accent-alt!;
}

.lg-outer .lg-thumb-item {
    @apply border-secondary-1000/10!;
}

.lg-thumb-outer {
    @apply pointer-events-auto;
}

@layer base {

    /*noinspection CssUnknownTarget*/
    @font-face {
        font-family: 'basement-grotesque';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(/fonts/BasementGrotesque-Black_v1.202.woff2) format('woff2');
    }

    @font-face {
        font-family:"paradroid-mono-soft";
        src:url("https://use.typekit.net/af/74f145/00000000000000007736bee4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/74f145/00000000000000007736bee4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/74f145/00000000000000007736bee4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
    }

    @font-face {
        font-family:"paradroid-mono-soft";
        src:url("https://use.typekit.net/af/bee6fa/00000000000000007736beea/30/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/bee6fa/00000000000000007736beea/30/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/bee6fa/00000000000000007736beea/30/a?subset_id=2&fvd=n7&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/inter/v18/UcCo3FwrK3iLTcviYwY.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family:"cartograph-cf";
        src:url("https://use.typekit.net/af/eb5f94/00000000000000007735fa51/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/eb5f94/00000000000000007735fa51/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/eb5f94/00000000000000007735fa51/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
        font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
    }

    @supports (font-variation-settings: normal) {
        /*noinspection CssUnknownTarget*/
        @font-face {
            font-family: "mozaic-variable";
            font-display: auto;
            font-style: normal;
            font-weight: 100 900;
            font-stretch: normal;
            src: url(/fonts/mozaic-geo.woff2) format("woff2"),
            url(/fonts/mozaic-geo.woff2) format("woff"),
            url(/fonts/mozaic-geo.otf) format("opentype");
        }

        /*noinspection CssUnknownTarget*/
        @font-face {
            font-family: "mozaic-variable";
            font-display: auto;
            font-style: italic;
            font-weight: 100 900;
            font-stretch: normal;
            src: url(/fonts/mozaic-geo-itallic.woff2) format("woff2"),
            url(/fonts/mozaic-geo-itallic.woff) format("woff"),
            url(/fonts/mozaic-geo-itallic.otf) format("opentype");
        }
    }

    .font-display-black {
        font-family: 'basement-grotesque', sans-serif;
    }

    html[data-theme="light"] {
        --colour-primary-0: 0deg 0% 100%;
        --colour-primary-50: 60deg 10% 95%;
        --colour-primary-100: 60deg 10% 90%;
        --colour-primary-200: 60deg 5% 80%;
        --colour-primary-300: 60deg 1% 44%;

        --colour-secondary-1000: 0deg 0% 0%;
        --colour-secondary-900: 0deg 0% 7%;
        --colour-secondary-800: 0deg 0% 12%;
        --colour-secondary-700: 0deg 0% 17%;

        --colour-accent: 10deg 50% 50%;

        --colour-fade-primary-white: var(--colour-secondary-1000) / 0.15;
        --colour-fade-secondary-white: var(--colour-secondary-1000) / 0.10;

        --colour-fade-primary-black: var(--colour-primary-0) / 0.15;
        --colour-fade-secondary-black: var(--colour-primary-0) / 0.10;

        @apply antialiased font-sb bg-primary-100 ;
        color-scheme: light;
    }

    :root,
    html[data-theme="dark"] {
        --colour-primary-0: 0deg 0% 0%;
        --colour-primary-50: 0deg 0% 4%;
        --colour-primary-100: 0deg 0% 7%;
        --colour-primary-200: 0deg 0% 12%;
        --colour-primary-300: 0deg 0% 17%;

        --colour-secondary-1000: 60deg 11% 100%;
        --colour-secondary-900: 60deg 10% 90%;
        --colour-secondary-800: 60deg 3% 55%;
        --colour-secondary-700: 60deg 2% 44%;

        --colour-accent: 10deg 50% 50%;
        --colour-accent-alt: 355deg, 57%, 48%;

        --colour-fade-primary-white: var(--colour-secondary-1000) / 0.15;
        --colour-fade-secondary-white: var(--colour-secondary-1000) / 0.10;

        --colour-fade-primary-black: var(--colour-primary-0) / 0.15;
        --colour-fade-secondary-black: var(--colour-primary-0) / 0.10;

        @apply antialiased font-sb bg-primary-100 text-secondary-900;
        color-scheme: dark;
    }

    p {
      @apply text-bsm text-secondary-900 text-paragraph;
    }

    h1 {
        @apply text-6xl font-black;
    }

    h2 {
        @apply text-5xl font-black;
    }

    h3 {
        @apply text-3xl font-bold;
    }

    h4 {
        @apply text-secondary-900/90 text-lg font-medium;
    }

    h5 {
        @apply text-tag;
    }

    h6 {
        @apply text-tag;
    }

    p {
        @apply text-paragraph;
    }

    strong {
        @apply text-paragraph font-medium;
    }

    ul {
        @apply list-disc
    }

    li {
        @apply text-secondary-900/90 mb-1 max-w-[70ch] text-sm/6;
    }

    body{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-smooth: never;
    }
}