---
import { getCollection, getEntry } from 'astro:content';
import ProjectRow from '../components/projectCard/projectRow.astro';
import RootLayout from '../layouts/root.layout.astro';

const allProjects = await getCollection('projects', ({ data }) => {
	return data.visible === true;
});
---

<RootLayout>
	<div class="flex flex-col">
		{allProjects.map((project) => <ProjectRow project={project} /> <ProjectRow project={project} /> <ProjectRow project={project} />)}
	</div>
</RootLayout>
