---
import Spacer from '@components/core/Spacer.astro';
import Text from '@components/text/Text.astro';
import IconButton from '@components/core/image/IconButton.astro';
---

<footer class="mt-4">
	<Spacer horizontalLine />
	<div
		class="text-secondary-500 mx-auto mt-6 mb-10 flex max-w-[1750px] flex-col items-center gap-2 px-8 text-center text-sm lg:mt-10
			lg:flex-row">
		<Text type="tag" class="lg:mt-0!">
			Designed & built by Callum Stables (<a
				target="_blank"
				href="https://github.com/Hazno-dev/CS-Portfolio"
				class="button-opacity">Source Code</a
			>)
		</Text>
		<div class="order-first flex grow flex-row justify-center gap-4 lg:order-none">
			<IconButton size="20" name="Github" link="https://github.com/Hazno-dev" />
			<IconButton size="20" name="LinkedIn" link="https://www.linkedin.com/in/callum-stables-75ab561b9/" />
			<IconButton size="20" name="Bluesky" link="https://bsky.app/profile/hazno.bsky.social" />
		</div>
		<Text type="tag" class="lg:mt-0!">
			&copy; {new Date().getFullYear()} Callum Stables. All rights reserved.
		</Text>
	</div>
</footer>
