---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const links = [
	{ name: 'Portfolio', path: '' },
	{ name: 'Resume', path: 'resume' }
];

const isCurrentPath = (path: string) => {
	return currentPath === path;
};
---

<header class="border-b-secondary-1000/15 bg-primary-100 sticky top-0 z-10 block border-b-[0.8px] pt-2.5 pb-1">
	<div class="flex flex-row items-center">
		<div class="flex grow flex-row place-items-center gap-4">
			<h1 class="text-secondary-1000 inline-block text-base font-medium">
				{
					!isCurrentPath('') ? (
						<a href="/" class="button-opacity">
							Callum Anthony Stables
						</a>
					) : (
						<>Callum Anthony Stables</>
					)
				}
			</h1>
			<p class="text-secondary-700 mt-[3px] mb-0 inline-block text-sm">Technical Designer</p>
		</div>
		<nav>
			{
				links.map((link) => (
					<a
						href={`/${link.path}`}
						class={`button-base inline-block ${isCurrentPath(link.path) ? 'button-base-target' : ''}`}>
						{link.name}
					</a>
				))
			}
		</nav>
		<button>Theme</button>
	</div>
</header>
