---
import Spacer from '@components/core/Spacer.astro';
import ContentSplit from '@layouts/structure/content-split.astro';
interface Props {
	title?: string;
}

const title = Astro.props.title;
---

<header
	class="border-b-secondary-1000/15 bg-primary-100 sticky top-0 z-10 block border-b-[0.8px] px-1 pt-1.5 pb-1 text-ellipsis
		md:pt-2.5">
	<ContentSplit pad={false} class="flex flex-row items-end overflow-hidden py-1 sm:py-2 sm:pr-4">
		<Fragment slot="left">
			<div class="flex flex-row place-items-end gap-4 pr-4">
				<a href="/" class="button-opacity">
					<h1 class="text-tag-heading !text-secondary-1000 !mt-0 inline-block md:text-base/5.75">
						Callum Anthony Stables
					</h1>
				</a>
				<p
					class=`text-secondary-700 mt-0 mb-0.5 md:mb-[0.5px] hidden ${title ? '' : 'sm:inline-block'} line-clamp-1 text-xs md:text-sm lg:inline-block`>
					Technical Designer
				</p>
			</div>
		</Fragment>
		<Fragment slot="right">
			<div class="flex shrink flex-row place-items-end">
				{
					title && (
						<>
							<Spacer class="flex md:hidden" />
							<p class="text-secondary-700 mt-0 mb-0.5 line-clamp-1 text-xs md:mb-[0.5px] md:text-sm">{title}</p>
						</>
					)
				}
				<Spacer class=`${title ? 'hidden' : 'flex'} md:flex` />
				<button
					id="resumeBtn"
					type="button"
					class=`text-tag-heading !text-secondary-1000 !mt-0 button-opacity cursor-pointer ${title ? 'hidden' : 'block'} md:block`
					>Resume</button
				>
				<script type="module" is:inline src="/scripts/resume-adobe.js"></script>
			</div>
		</Fragment>
	</ContentSplit>
</header>
