---
export interface Props {
	text: string;
}

const { text } = Astro.props;
---

<p
	class="min-w-16 content-center rounded-md bg-neutral-900 px-2 text-center text-sm
		text-neutral-400">
	{text}
</p>`;
