---
import { Picture, Image, getImage } from 'astro:assets';
import { projects } from '@/content.obtain.ts';
import MediaElement from '@components/media/MediaElement.astro';
import MediaGallery from '@components/media/MediaGallery.astro';

interface Props {
	Project: string;
	Media: string[];
	Horizontal?: boolean;
}

const props = Astro.props;
const foundProject = projects.get(props.Project);
if (!foundProject) {
	throw new Error(`Project ${props.Project} not found`);
}

const foundMedia = foundProject.Media.Find(props.Media);
---

<p>
	<MediaGallery counter={false} class=`my-4 flex gap-4 ${props.Horizontal ? 'flex-row' : 'flex-col'}`>
		{foundMedia.map((media) => <MediaElement Source={media} />)}
	</MediaGallery>
</p>
