---
import { projects } from '@/content.obtain.ts';
import MediaElement from '@components/media/MediaElement.astro';
import MediaGallery from '@components/media/MediaGallery.astro';

interface Props {
	Source: string[];
	Horizontal?: boolean;
}

if (!Astro.params.project) {
	throw new Error('Project parameter is missing');
}

const foundProject = projects.get(Astro.params.project);
if (!foundProject) {
	throw new Error(`Project ${Astro.params.project} not found`);
}

const props = Astro.props;
const foundMedia = foundProject.Media.Find(props.Source);
---

<p>
	<MediaGallery counter={false} class=`my-4 flex gap-4 ${props.Horizontal ? 'flex-row' : 'flex-col'}`>
		{foundMedia.map((media) => <MediaElement Source={media} />)}
	</MediaGallery>
</p>
