---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
	pad?: boolean;
}

const { pad, ...attrs } = {
	pad: Astro.props.pad ?? true,
	...Astro.props
};
---

<div class=`${pad ? 'content-outer' : ''} ${attrs.class ?? ''}` {...attrs}>
	<div class=`content-inner-l`>
		<slot name="left" />
	</div>
	<div class=`gap-4 flex flex-col content-inner-r`>
		<slot name="right" />
	</div>
</div>
