---
interface Props {
	class?: string;
	gap?: number | string;
}

let optionalClass = Astro.props.class ?? '';
const gapIndex = optionalClass.indexOf('gap-');
if (gapIndex === -1) {
	optionalClass += ' ' + (Astro.props.gap ? `gap-${Astro.props.gap} ` : 'gap-4 ');
}
---

<div class=`flex shrink flex-row place-content-between place-items-center ${optionalClass}`>
	<slot />
</div>
